body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

#topAdm::after {
  content: "";
  position: fixed;
  z-index: -2;
  background-size: 100%;
  width: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  display: flex;
  height: 100vw;
  z-index: 0;
  background-image: url(../../src/img/back2.jpg);
}
#topAdm {
  z-index: 10;
  width: 100%;
  height: 70vw;
  background-color: rgb(174, 237, 0);
  z-index: 200;
}
#topAgro::after {
  content: "";
  position: fixed;
  z-index: -2;
  background-size: 100%;
  width: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  display: flex;
  height: 100vw;
  z-index: 0;
  background-image: url(../../src/img/agro.jpg);
}
#topAgro {
  z-index: 10;
  width: 100%;
  height: 70vw;
  background-color: rgb(0, 255, 21);
  z-index: 200;
}

#topInfo::after {
  content: "";
  position: fixed;
  z-index: -2;
  background-size: 100%;
  width: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  display: flex;
  height: 100vw;
  z-index: 0;
  background-image: url(../../src/img/foto01.png);
}

#topInfo {
  z-index: 10;
  width: 100%;
  height: 70vw;
  background-color: rgb(244, 1, 1);
  z-index: 200;
}

#topRec::after {
  content: "";
  position: fixed;
  z-index: -2;
  background-size: 100%;
  width: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  display: flex;
  height: 100vw;
  z-index: 0;
  background-image: url(../../src/img/back2.jpg);
}
#topRec {
  z-index: 10;
  width: 100%;
  height: 70vw;
  background-color: rgb(174, 237, 0);
  z-index: 200;
}
img {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

#texto {
  top: 500px;
  left: 100px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  width: 1050px;
  color: white;
  text-align: justify;
  font-size: 30px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
